 
h1, h2, h3, h4, h5, h6 {
 text-align: center;
  font-size: 25px;
  color: black;
  font-family: 'Shadows Into Light', cursive;
}


p{
  font-size: 20px;
 color: #06BC9B;
  font-family: 'Alegreya', serif;
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
 text-align: justify;
 font-family: 'Open Sans Condensed', sans-serif;

}





.leloz {
    font-size: 50px;
    padding-right: 190px;
    color: #06BC9B;
    text-align: right;
    padding-bottom: 80px;
    top: 3px;
  }
  
  .col-md-7{
    top: 50px;
  }

  .myimg{
    padding-bottom: 30px;
    top: 50px;
  }



  .nav-tabs.nav-justified>li>a {
    font-size: 18px;
    font-style: italic;
  }

  .nav-tabs.nav-justified>li.active>a{
    font-style: italic;
  }

  
  .badge{
    background-color: gray;
  }

  

  .fivecurrent{
    font-style: italic;
  }

  .fivefavorite{
    font-style: italic;
  }

  .myskills{
    font-style: italic;
    color: black;
    text-align: center;
    border: 1px solid powderblue;
    border: 1px solid powderblue;
    margin: 50px;

  }


  .img-circle {
    border-radius: 50%;
    border-color: aqua;
  }

  .sentence{
    color: black;
    font-size: 40px;
    font-style: italic;
  }

  #tedimg{
   border-radius: 360px;
   width:190px;height:190px;border:0;

 }
 .here{
  color: blue;
}

.firstsite{
  color: blue;
  text-transform: 50%;

}

#sen{
  color: white;
  font-size: 30px;
  font-style: italic;
}

#secondimg{
  border-radius: 360px;
  width:190px;height:190px;border:0;
}

#myname{
  padding-right: 80%;
}

#mytitle{
  padding-right: 80%;
  font-style: italic;
  font-synthesis: initial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #06BC9B;*/

  border-bottom: 3px solid #ccc;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-radius: 4px;
}

li {
  float: left;
}

li a {
  display: block;
  /*color: blue;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.myproject{
  background-color: aqua;
  color: white;
}

.social-icon{
 border-radius: 20%;
 text-align: left; 

}




a {
  color: #525d68;
  text-decoration: initial;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;

}

.details-container{
  margin: 15px;
}

.social-icon-container {
  width: 200px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
.vitals-text-container {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-top: 12px;
}

.profile-name,
.profile-location {
  font-weight: normal;
}

.profile-name {
  font-size: 36px;
  margin-bottom: 10px;
}

.profile-location {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-quote {
  font-size: 40px;
  color: black;
  text-align: center;
}

.details-block {
  width: 80%;
  margin: 0 auto;
}

.title-holder {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px dotted #06BC9B;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.description-holder {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4em;
}

.description-holder h4 {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 8px;
  margin: 8px 0;
}


nav ul{
  height: 80px;
  padding-top: 20px;
  box-sizing: border-box;
}
.profile-pic{
  margin:  15px;
  width:300px;
}
.video{
  margin-bottom: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover,.nav>li>a:hover{
  background-color: transparent;
  color:#06BC9B;
}


